<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos iron ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <!-- Bootstrap CSS -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../../assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="../../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../../assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="main-content">

      <!-- invocamos una variable de tipo logado -->
      <div class="row" hidden$={{logado}}>
        <!-- agregamos campo email y su validacion y ponemos el value como bidireccional -->
      </div>

      <!-- Header -->
      <div class="header bg-gradient-primary py-7 py-lg-8">
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">

        <img src="../../assets/img/brand/bbva.png" alt="" width="40%" height="auto" >
        <br>
        <br>
        <span class="text-muted">Ingresa tus datos</span>
        <br>
        <br>

                <form role="form">
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                      </div>

                      <input class="form-control" placeholder="Email" type="email" value="{{email::input}}" id="txtEmail">

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-lock"></i></span>
                      </div>
                      <input class="form-control" placeholder="Password" type="password" value="{{password::input}}">

                    </div>
                  </div>

                  <div class="text-center">
                    <button on-click="login" type="button" name="button" class="btn btn-info my-4">Acceder</button>

                  </div>
                </form>
          <div class="col-12 text-center">
                <a href="registro.html" ><small>Registrarse</small></a>
              </div>
              </div>

              <!-- agregamos leyenda de bienvenida y no muestra nada si no se ha logado-->
                <div class="row" hidden="{{!logado}}">
                  <span>Bienvenido a la Aplicación</span>
                </div>

            </div>



          </div>
        </div>
      </div>
    </div>


    <!-- agregamos iron ajax -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type = "application/json"
      crossDomain: true
      dataType: 'jsonp'
      method ="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error = "showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type:String
          },
          logado:{
            type:Boolean,
            value:false
          }
        };
      }

    login(){
        var loginData ={"email": this.email,"password": this.password};
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición Enviada");

    }

    manageAJAXResponse(data){
      console.log("Respuesta Recibida del Servidor");
      console.log(data.detail.response);
      this.logado=true;
      window.location.href = "bienvenido.html";
      var email = txtEmail.value;
      var usuario = {"email":email};
      //localStorage.setItem("usuarioLocal",JSON.stringify(usuario));
      sessionStorage.setItem("usuarioSession",JSON.stringify(usuario));




    }

    showError(error){
      console.log("Hubo un error en la Petición");
      alert("Datos Ingresados Incorrectos, Verifique o Registrese");
      console.log(error);
    }
  }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
  <!--   Core   -->
  <script src="../../assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="../../assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</dom-module>
