/* Styles used throughout the entire web site */

html {
    /* font-size 62.5% makes 1rem equal 10px for easy size calculations. */
    font-size: 62.5%;
    font-family: Calibri, Arial, sans-serif;
    background-color: #EAEEFA;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    /* Default font-size to about 18px */
    font-size: 1.8rem;
}

input, button {
    margin: 0;
    font-size: 1.8rem;
    font-family: Calibri, Arial, sans-serif;
}

.container {
    padding: 0 1rem;
    max-width: 94rem;
    /* Horizontally center containers */
    margin: 0 auto;
}

section.page-section .container {
    padding-bottom: 2rem;
}

h1 {
    font-size: 4rem;
    letter-spacing: -1px;
    margin: 1em 0 .25em 0;
}
nav {
    background-color: #1d1d1d; /* black */
    line-height: 6rem; /* Altura que separa cada linea de texto */
    font-size: 1.7rem;
}

nav a {
        color: #fff; /* white*/
        padding: 1rem;
}

ul, li {
    list-style-type: none; /* Para no desplegar los bullets */
}

footer.page-footer {
    background-color: #333; /* Similar a #333333, gris*/
    color: #fff; /* Similar a FFFFFF, blanco*/
    font-size: 1.4rem;
    height: 18rem;
}

footer.page-footer .container {
    padding: 1rem;
}
