<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

Access-Control-Allow-Origin: *

<dom-module id="alta-app">
  <template>

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/png" href="https://storage.googleapis.com/bbva-front.appspot.com/bbva.front/resources/favicon/favicon_32px.png"/>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../../assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="../../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../../assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <!--<script type="text/javascript" src="../../hola.js"></script>-->
    <style>
      :host {
        display: block;
      }
    </style>

    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
      <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="./index.html">
          <img src="../../assets/img/brand/bbva.png" class="navbar-brand-img" alt="...">
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="./index.html">
                  <img src="../../assets/img/brand/bbva.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>

          <!-- Navigation -->
          <ul class="navbar-nav">
            <li class="nav-item  class=" active" ">
              <a class="nav-link active " href="alta.html">
                <i class="fas fa-arrow-up"></i> Alta movimientos.
              </a>
            </li>
            <li class="nav-item"  >
            <a class=" nav-link " href="consulta.html"> <i class="fas fa-outdent"></i> Consulta
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="fas fa-sign-out-alt"></i> Salir
              </a>
            </li>

          </ul>



        </div>
      </div>
    </nav>

    <div class="main-content">

      <div class="container">
          <div class="row">
            <br>
            <br>
            <h1>Alta de movimientos</h1>
          </div>
            <br />

            <form role="form">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-money-bill"></i></span>
                  </div>
                  <input class="form-control" placeholder="Importe" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-font"></i></span>
                  </div>
                  <input class="form-control" placeholder="Nombre" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-font"></i></span>
                  </div>
                  <input class="form-control" placeholder="Apellido" type="text">
                </div>
              </div>

              <div class="text-center">
                <button type="button" class="btn btn-info mt-4">Guardar</button>
              </div>
            </form>

      </div>
    </div>
  </template>

  <!--   Core   -->
  <script src="../../assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="../../assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="../../assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
  <!--   Argon JS   -->
  <script src="../../assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaApp extends Polymer.Element {
      static get is() { return 'alta-app'; }


    }

    window.customElements.define(AltaApp.is, AltaApp);
  </script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</dom-module>
